*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Work Sans", serif;
  font-weight: 700;
}
/* header styles */
header{
  padding: 50px 130px;
  background-color: #FFF4E7;
}
/* nav section */
.navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-title{
  font-size: 2.8rem;
  color: #131313;
}
nav > ul{
  display: flex;
  margin-right: 30px;
}
nav li{
  list-style: none;
  margin-left: 30px;
}
nav a{
  text-decoration: none;
  color: #424242;
}
/* banner-section styles */
.banner-container{
  max-width: 1400px;
}
.banner-content{
  max-width: 60%;
  text-align: center;
  margin: 50px auto;
}
.banner-container img{
  width: 100%;
  border-radius: 20px;
}
.title{
  font-size: 4rem;
  color: #131313;
}
/* sheard styles */
.sub-title{
 font-weight: 400;
 font-size: 1rem;
 color: #727272;
 line-height: 24px;
 margin-bottom: 20px;
}
/* button styles start */
/* sheard styles */
.btn-primary{
  padding: 21px 24px 20px 25px;
 background-color: #FF900E;
 color: #FFFFFF;
 border: none;
 border-radius: 8px;
 font-weight: 600;
 font-size: 1.3rem;
 cursor: pointer;
 transition: 2s;
}
.btn-primary:hover{
  color: #FF900E;
  background-color: #FFFFFF;
  transform: scale(1.1);
}
/* button styles end */
/* main team section styles */
main{
  padding: 70px 180px;
}
.container{
  display: flex;
  gap: 50px;
  align-items: center;
}
.team-img{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
/* team title styles */
.over-lay{
   font-weight: 500;
   color: #727272;
}
.text-style{
  color: #FF900E;
}
/* teams sections-end */
/* features sections starts */
.features-container{
  margin-top: 100px;
  display: flex;
  gap: 70px;
}
.features-title > h4{
  border-left: 5px solid #FF900E;
  padding-left: 15px;
  margin-top: 50px;
}
.features-description{
  background-color: #FFFFFF;
  box-shadow: 5px 5px 5px 5px #e5e4e4;
  padding: 30px;
  margin-top: 20px;
  border-radius: 8px;
}
.features-description > h5{
 font-weight: 600;
 font-size: 1rem;
}
.features-img img{ 
  width: 600px;
  height: 900px;
  margin-left: 90px;
}
/* badge styles */
.badge{
  background-color: #FF900E;
  max-width: 300px;
  padding: 40px;
  border-radius: 8px;
  text-align: center;
  position: relative;
  bottom: 100px;
}
.badge > h2 , p{
  color: #FFFFFF;
}
.badge p{
  font-weight: 500;
  font-size: 1.7rem;
}
/* features sections end */
/* card sections start */
.card-title{
  margin-top: 60px;
  margin-bottom: 100px;
}
.card-container{
  display: flex;
  justify-content: space-around;
}
.cards{
  border: 1px solid #FF900E;
  border-radius: 8px;
  padding: 45px 40px;
  text-align: center;
}
.cards > h3{
 font-weight: 600;
 font-size: 2.6rem;
 color: #424242;
}
.cards > h5{
  font-weight: 600;
  font-size: 1rem;
  color: #727272;
}
/* Sponspors-section styles */
.Sponspors-section{
  margin-top: 100PX;
  text-align: center;
}
.sponspors-img{
 display: flex;
 justify-content: space-evenly;
 margin-top: 50px;
}
/* footer section styles */
footer{
  background-color: #FFF4E7;
  text-align: center;
  padding: 30px;
  border-radius: 8px;
}

/* smaller devices responsiveness */
@media screen and (max-width: 576px){
  header ,
  main{
    padding: 20px;
  }
  .navigation , 
  .container ,
  .card-container ,
  .sponspors-img ,
  .features-container{
    flex-direction: column;
  }
  .cards{
    margin-bottom: 20px;
  }
  .banner-content{
    margin: 20px auto;
    text-align: center;
    max-width: 100%;
  }
  .title{
    font-size: 2.5rem;
  }
  .features-img img{
    max-width: 100%;
    margin-left: 0;
  }
  .team-img{
    grid-template-columns: 1fr;
  }
}
/* midium devices responsiveness */
@media screen and (min-width: 577px) and (max-width: 1024px){
  header ,
  main{
    padding: 40px;
  }
  .navigation , 
  .container ,
  .card-container ,
  .sponspors-img ,
  .features-container{
    flex-direction: column;
  }
  .cards{
    margin-bottom: 20px;
  }
  .banner-content ,
  footer ,
  .features-img img{
    max-width: 100%;
    margin-left: 0;
  }
  
}
